<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
</head>
<body>

<div th:insert="menu"></div>

<div class="content-body">
    <div class="row">
        <div class="col-12">

        </div>
        <div class="col-12">
            <h1>Hello <span th:text="${name}"></span>!</h1>
        </div>
        <div class="col-12">
            <ul th:each="nm : ${names}">
                <td th:text="${nm}"></td>
            </ul>
        </div>
        <div class="col-12">
            <div th:insert="footer"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>